<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>✏️ Editar Leitura</h1>

    <a href="/leituras">← Voltar</a>

    <form id="form">
        <label>Temperatura:</label><br>
        <input type="number" step="0.1" id="temp" value="{{ leitura.temperatura }}"><br><br>

        <label>Umidade:</label><br>
        <input type="number" step="0.1" id="umid" value="{{ leitura.umidade }}"><br><br>

        <button type="submit">Salvar</button>
    </form>

    <script>
        document.getElementById("form").addEventListener("submit", function(e) {
            e.preventDefault();

            fetch("/leituras/{{ leitura.id }}", {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    temperatura: document.getElementById("temp").value,
                    umidade: document.getElementById("umid").value
                })
            })
            .then(() => window.location.href = "/leituras")
        });
    </script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>